@import "tachyons";
@import "./modules/mediaqueries.pcss";
@import "./modules/base-grid.pcss";
@import "./modules/nav.pcss";
@import "./modules/links.pcss";
@import "./modules/content-grid.pcss";

html,
body {
  height: 100%;
}

img {
  background-color: #ccc;
  max-width: 100%;
  height: auto;
}
