root: {
--sans-serif: -apple-system, BlinkMacSystemFont, -system-ui, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
--serif: 'Big caslon', sans-serif;
--monospace: consolas, monospace;

--font-size-headline: 12rem;
--font-size-subheadline: 8rem;
--font-size-1: 6rem;
--font-size-2: 4rem;
--font-size-3: 3rem;
--font-size-4: 2rem;
--font-size-5: 1.5rem;
--font-size-6: 1rem;
--font-size-7: 0.75rem;

--measure: 30em;
--measure-narrow: 20em;
--measure-wide: 34em;

--letter-spacing-tight:-.05em;
--letter-spacing-1:.1em;
--letter-spacing-2:.25em;

--line-height-solid: 1;
--line-height-title: 1.25;
--line-height-copy: 1.5;

--spacing-extra-small: 0.25rem;
--spacing-small: 0.5rem;
--spacing-medium: 1rem;
--spacing-large: 2rem;
--spacing-extra-large: 4rem;
--spacing-extra-extra-large: 8rem;
--spacing-extra-extra-extra-large: 16rem;

--border-radius-1: 0.125rem;
--border-radius-2: 0.25rem;
--border-radius-3: 0.5rem;
--border-radius-4: 1rem;
--border-radius-circle: 100%;
--border-radius-pill: 9999px;

--box-shadow-1: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 );
--box-shadow-2: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 );
--box-shadow-3: 2px 2px 4px 2px rgba( 0, 0, 0, 0.2 );
--box-shadow-4: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
--box-shadow-5: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );

--height-1: 1rem;
--height-2: 2rem;
--height-3: 4rem;
--height-4: 8rem;
--height-5: 16rem;
--width-1: 1rem;
--width-2: 2rem;
--width-3: 4rem;
--width-4: 8rem;
--width-5: 16rem;

--max-width-1: 1rem;
--max-width-2: 2rem;
--max-width-3: 4rem;
--max-width-4: 8rem;
--max-width-5: 16rem;
--max-width-6: 32rem;
--max-width-7: 48rem;
--max-width-8: 64rem;
--max-width-9: 96rem;

--red-000: #37090d;
--red-100: #5a0f15;
--red-200: #80151f;
--red-300: #a71c28;
--red-400: #d12332;
--red-500: #e14f5b;
--red-600: #e87982;
--red-700: #ef9da4;
--red-800: #f4bec2;
--red-900: #fadee1;
--gold-000: #1e1901;
--gold-100: #352c01;
--gold-200: #4c4001;
--gold-300: #655502;
--gold-400: #7f6b02;
--gold-500: #9a8103;
--gold-600: #b59803;
--gold-700: #d2b004;
--gold-800: #efc804;
--gold-900: #fde56f;
--green-000: #061f09;
--green-100: #0a340f;
--green-200: #0e4b16;
--green-300: #12641d;
--green-400: #177c25;
--green-500: #1c972c;
--green-600: #21b134;
--green-700: #26cd3c;
--green-800: #6be37b;
--green-900: #bcf2c3;
--teal-000: #011e1c;
--teal-100: #023231;
--teal-200: #034846;
--teal-300: #03615d;
--teal-400: #047874;
--teal-500: #05928d;
--teal-600: #06ada7;
--teal-700: #07c7c1;
--teal-800: #08e2db;
--teal-900: #6efaf5;
--blue-000: #041b2f;
--blue-100: #072e4f;
--blue-200: #0a4273;
--blue-300: #0d5798;
--blue-400: #106dbf;
--blue-500: #1485e7;
--blue-600: #449fef;
--blue-700: #75b8f3;
--blue-800: #a4d1f7;
--blue-900: #d1e8fb;
--indigo-000: #220948;
--indigo-100: #390f77;
--indigo-200: #5116a9;
--indigo-300: #6a1ddd;
--indigo-400: #8543e7;
--indigo-500: #9b67eb;
--indigo-600: #b086ef;
--indigo-700: #c4a4f3;
--indigo-800: #d7c2f7;
--indigo-900: #ebe1fb;
--violet-000: #300a2a;
--violet-100: #511047;
--violet-200: #721765;
--violet-300: #971f85;
--violet-400: #bd26a6;
--violet-500: #d942c2;
--violet-600: #e270d1;
--violet-700: #ea96dd;
--violet-800: #f1bbe9;
--violet-900: #f8ddf4;
--gray-000: #181a1b;
--gray-100: #2a2d2d;
--gray-200: #3d4243;
--gray-300: #515658;
--gray-400: #656d6f;
--gray-500: #7b8486;
--gray-600: #959c9d;
--gray-700: #aeb3b5;
--gray-800: #c8cccd;
--gray-900: #e4e5e6;
}
