a {
  &:link,
  &:visited {
    color: #111;
  }

  &:hover {
    text-decoration-thickness: 2px;
  }

  &:focus {
    outline: 0;
    background-color: #ffd700;
    box-shadow: 0 -2px #ffd700, 0 2px #ffd700;
    text-decoration-thickness: 2px;
  }
}
