---
grid: homepage
---

{% extends "base.njk" %}

{% block content %}
  <h1 class="f1 f-headline-l mt0 mb5 ttu tracked-mega fw9 lh-solid measure-narrow center">hello world!</h1>
  <p class="measure f5 f3-l lh-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
{% endblock %}
